@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .border-border {
    @apply border-white; /* Example utility */
  }
  .bg-background {
    @apply bg-white; /* Example utility */
  }
  .text-foreground {
    @apply text-black; /* Example utility */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    font-family: "Poppins", sans-serif;
  }
  h1 {
    @apply text-6xl font-semibold;
  }
}

@layer components {
  .btn-outline-primary {
    @apply border-primary text-primary;
  }
  .icon-btn {
    @apply btn btn-primary bg-opacity-20 text-black hover:text-white transition-all ease-in-out duration-300;
  }
  .label-text {
    @apply block text-gray-700 text-base font-medium mb-2;
  }
}

/* In your styles.css or a relevant CSS file */
.transition-width {
  transition: width 0.5s ease-in-out;
}
